<div class="row">
  <div class="col-md-12">
    <div class="">
      <table id="mytable" class="table table-bordred table-striped">
        <thead>
          <th class="text-center">First Name</th>
          <th class="text-center">Last Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Show</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td class="text-center"><%= user.first_name %></td>
            <td class="text-center"><%= user.last_name %></td>
            <td class="text-center"><%= user.email %></td>
            <td class="text-center"><%= link_to 'Show', [:admin,  user] %></td>
            <td class="text-center"><%= link_to 'Edit', edit_admin_user_path(user) %></td>
            <td class="text-center"><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <center>
          <%= link_to 'Add User', new_admin_user_path, class: "addp" %>
      </center>
    </div>
  </div>
</div>
