<!DOCTYPE html>
<html>
  <head>
    <title>WorldTravel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <body class="home">
    <div class="container-fluid display-table admin-container">
      <div class="row display-table-row">
        <%= render partial: "layouts/left_panel" %>
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
          <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
          <%= render partial: "layouts/new_header" %>
          <div class="user-dashboard">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header login-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Add Plan</h4>
          </div>
          <div class="modal-body">
            <input type="text" placeholder="Project Title" name="name">
            <input type="text" placeholder="Post of Post" name="mail">
            <input type="text" placeholder="Author" name="passsword">
            <textarea placeholder="Desicrption"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="cancel" data-dismiss="modal">Close</button>
            <button type="button" class="add-project" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
